<DOCTYPE html>
  <html lang="es">
    <% include header %>
    <body>
      <link rel="stylesheet" href= "cursoEstudiante.css">
      <h2 style="text-align: left">Curso <%- curso[0].nombre %></h2>
      <div id="notas">
        <form action="/notasEstudiante" method="post">
          <button id="notasButton" type="button" name="consultaNotas" action="submit">Consultar notas</button>
        </form>
        <form action="/principal" method="post">
          <button id="regresarButton" type="submit" name="regresar" action="submit">Regresar</button>
        </form>
      </div>
      <div id="espacio"></div>
      <div id="agenda">
        <table id="tablaagenda">
          <tbody>
            <% if (data) { %>
              <% for(var i = 0; i < data.length; i++) { %>
                <tr>
                  <td>
                    <div id="divtabla">
                      <div style="color: black; font: bold 20px; font-size: 35px; text-align:center;">
                        <%= data[i].dia %>
                      </div>
                      <div style="float:left; margin-left:3px; color: black; font: bold 20px; font-size: 20px; text-align:left; width:35px;">
                        <% var nombremes; %>
                        <% if (data[i].mes=="January") { %>
                          <% nombremes="Jan." %>
                        <% } %>
                        <% if (data[i].mes=="February") { %>
                          <% nombremes="Feb." %>
                        <% } %>
                        <% if (data[i].mes=="March") { %>
                          <% nombremes="Mar." %>
                        <% } %>
                        <% if (data[i].mes=="April") { %>
                          <% nombremes="Apr." %>
                        <% } %>
                        <% if (data[i].mes=="May") { %>
                          <% nombremes="May." %>
                        <% } %>
                        <% if (data[i].mes=="July") { %>
                          <% nombremes="Jul." %>
                        <% } %>
                        <% if (data[i].mes=="August") { %>
                          <% nombremes="Aug." %>
                        <% } %>
                        <% if (data[i].mes=="September") { %>
                          <% nombremes="Sept." %>
                        <% } %>
                        <% if (data[i].mes=="October") { %>
                          <% nombremes="Oct." %>
                        <% } %>
                        <% if (data[i].mes=="November") { %>
                          <% nombremes="Nov." %>
                        <% } %>
                        <% if (data[i].mes=="December") { %>
                          <% nombremes="Dec." %>
                        <% } %>
                        <%= nombremes  %>
                      </div>
                      <div style="float:right; margin-right:7px; color: black; font: bold 20px; font-size: 20px; text-align:right; width:35px;">
                        <%= data[i].año %>
                      </div>
                      <div style="color: black; font: bold 20px; font-size: 15px; width:80px; text-align:center;">
                        <%= data[i].hora %>
                      </div>
                    </div>
                  </td>
                  <td style="font: small-caps 100%/200% serif; font-size:25px;">
                    <%= data[i].descripcion %>
                  </td>
                </tr>
              <% } %>
            <% } %>
          </tbody>
        </table>
      </div>
    </body>
  </html>
  <% include footer %>
</DOCTYPE>
