<footer style="max-height:170px; ">
  <div id="footerprincipal">
    <div id="divfootertitulo">
      <h1 style="margin-bottom:5px; cursor:pointer;">PLEXCOL</h1>
    </div>
    <div id="divfootertexto">
      <h4>Servicios PLEXCOL</h4>
      <h4>PBX: 77665544</h4>
      <h4>2da calle 19-22, zona 3</h4>
    </div>
  </div>
  <div id="ultimofooter">
    <h5 style="margin: 0px;">
      Todos los perros derechos reservados
    </h5>
  </div>
</footer>
