<head>
  <title>Plexcol</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximun-scale=1, minimun-scale=1">
  <link rel="stylesheet" href= "principal.css">
  <nav class="navbar navbar-static-top">
    <div id="imagennavbar">
      <img src="<%- user[0].imagen %>" alt="Usuario" width="100" height="100">
    </div>
    <div id="infouser">
      <p style="margin:5px 0px 0px 7px; padding:0px;">
        <%- user[0].nombre %><br/>
        <%- user[0].usuario %><br/>
        <%- user[0].departamento %><br/>
        <%- user[0].carrera %>
      </p>
    </div>
    <div id="contenedor">
      <div id="auxiliar">

      </div>
      <div id="contenedortitulo">
          <h1>Portal Plexcol</h1>
      </div>
      <div id="contenedorboton">
        <form style="margin:0px;" action="/destroySession" method="post">
          <button>Cerrar Sesion</button>
        </form>
      </div>
    </div>
  </nav>
</head>
