 h1{
  float: left;
  font-size: 50px;
  margin-top: 15px;
  font-style: italic;
}

body{
  background-color: darkred;
  margin: 0px;
}

.navbar{
    margin-top: 0px;
    margin-left: 0px;
    padding-left:10px;
    color: white !important;
    height: 100px;
    background-color: darkred;

}
.button1{
  margin-top: 20px;
  margin-right: 55px;
  float: right;
  background-color: white;
   border: none;
   color: red;
   border: 2px solid red;
   padding: 15px 32px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   font-size: 16px;
   -webkit-transition-duration: 0.4s;
   transition-duration: 0.4s;
   box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
   cursor: pointer;
}

.button1:hover {
    background-color: darkred; /* Green */
    border: 2px solid darkred;
    color: white;
}

.header{
  margin: 0px;
  width: 100%;
  border-top: 1px solid #fff;
  height: 50px;
  background-color: darkred;
  margin-right: auto;
  margin-left: auto;
}

li,ul{
  list-style: none;
  margin: 0px;
  padding: 0px;

}

li{
  width: 170px;
  font: small-caps 100%/200% serif;
}

.navmenu{
  padding: 0px;
  margin: 0px;
}

.navmenu li a{
  background-color: darkred;
  color: #fff;
  text-decoration: none;
  padding: 10px 15px;
  display: block;
  height: 39px;
  padding-top: 1px;
  font: small-caps 100%/200% serif;
  font-size: 25px;
}

.navmenu li a:hover{
  background-color: #AA2525;
}

.navmenu > li{
  float: left;
  height: 50px;
}


.navmenu li ul{
  display: none;
  position: absolute;
  min-width: 140px;
}

.navmenu li:hover > ul{
  display: block;
}

.navmenu li ul li{
  position: relative;
  border-top: 1px dashed #fff;
}

.navmenu li ul li ul{
  right:-170px;
  top: -2px;
  border-top: 1px dashed #fff;
}

.slider{
  width: 100%;
  margin: auto;
  overflow: hidden;
}

.slider ul{
  display: flex;
  padding: 0;
  width: 500%;

  animation: cambio 25s infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

.slider li{
  width: 100%;
  list-style: none;
}



.slider img{
  width: 100%;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

@keyframes cambio {
  0%{margin-left: 0;}
  30%{margin-left: 0;}

  35%{margin-left: -100%;}
  50%{margin-left: -100%;}

  55%{margin-left: -200%;}
  70%{margin-left: -200%;}

  75%{margin-left: -300%;}
  90%{margin-left: -300%;}

  95%{margin-left: -400%;}
  100%{margin-left: -400%;}
}

.seccion{
  min-height: 700px;
  margin: 0px;
}

.seccion_boxes{
  background-color: white;
  /*box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);*/
  box-shadow: inset 0 0 32px 35px darkred;
  text-align: center;
  padding-top: 20px;
  float: inherit;
}

.box{
  width: 90%;
  height: 350px;
  /*border: 5px solid black;*/
  margin-left: auto;
  margin-right: auto;
  padding-top: 70px;
  padding-bottom: 0px;
}

.minibox{
  width: 23%;
  height: 320px;
  /*border: 5px solid orange;*/
  float: left;
  margin-left: 20px;
  min-width: 150px;
  padding-top: 10px;
}

.superminibox{
  width: 90%;
  height: 130px;
  margin-left: auto;
  margin-right: auto;
  /*border: 3px solid red;*/
}

.superhiperminibox{
  width: 80%;
  height: 20px;
  margin-left: auto;
  margin-right: auto;
  /*border: 3px solid green;*/
  border-bottom: 1px dashed darkred;
  margin-bottom: 8px;
  font: small-caps 100%/200% serif;
  padding-bottom: 20px;
  font-size: 20px;
}

#seccionh1{
  text-align: center;
  min-height: 700px;
  margin: 0px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

#divbgred{
  width: 100%;
  height: 200px;
  /*border: 5px solid black;*/
  padding-bottom: 0px;
}

#divbggray{
  width: 100%;
  height: 500px;
  /*border: 5px solid orange;*/
  background-color: DBD6D6;
  padding: 0px;
}

#h1sec{
  width: 100%;
  color: white;
  font-size: 76px;
  margin-top: 15px;
  font-style: italic;
  margin-left: auto;
  margin-right: auto;
}

#divh1{
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: 105px;
  text-align: center;
  border-bottom: 1px dashed white;
  margin-bottom: 45px;
}

#bgtabla1{
  width: 80%;
  height: 50px;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.5), 0 10px 20px 0 rgba(0,0,0,0.19);
}

#bgtabla2{
  width: 80%;
  height: 480px;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  padding: 0px;
  box-shadow: 10px 20px 5px rgba(0,0,0,0.19);
}

#seccionparallax{
  min-height: 700px;
  max-width: 1920px;
  width: 100%;
  margin: 0px;
  padding: 0px;
  position: relative;
  -webkit-background-size:cover;
  -moz-background-size:cover;
  -o-background-size:cover;
  background-size: cover;
  background: url(img/Parallax.jpg) 50% 0 no-repeat fixed;
  box-shadow: inset 0 0 32px 35px #DBD6D6;
}

article{
  padding: 100px;
}

h2{
  color: white;
  font-family: helvetica;
  text-align: center;
}

#seccionultima{
  background-color: #DBD6D6;
  text-align: center;
  min-height: 700px;
  margin: 0px;
}

#divulgray{
  width: 100%;
  height: 200px;
  /*border: 5px solid black;*/
  padding-bottom: 0px;
}

#divulred{
  width: 100%;
  height: 550px;
  /*border: 5px solid orange;*/
  background-color: #002F4D;
  padding: 0px;
}

#h1secul{
  width: 100%;
  color: black;
  font-size: 76px;
  margin-top: 15px;
  font-style: italic;
  margin-left: auto;
  margin-right: auto;
}

#divh1ul{
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: 105px;
  text-align: center;
  border-bottom: 1px dashed black;
  margin-bottom: 45px;
}

#contenedorfooter{
  border-top: 1px dashed white;
  width: 100%;
  height: 150px;
}

#divfootertitulo{
  margin-top: 35px;
  width: 300px;
  height: 100px;
  color:white;
  float:right;
}

#divfootertexto{
  COLOR: white;
  margin-left: 90px;
}

#ultimofooter{
  width: 100%;
  height: 20px;
  margin: 0px;
  padding: 0px;
  color: white;
  background-color: #A40E0A;
  text-align: center;
}

#tablacalendario{
  margin-left: 80px;
  float:left;
}

#divtabla{
  width: 80px;
  height: 80px;
  background-color: #F6AB1F;
  margin-top: 5px;
  box-shadow: -8px 5px 5px rgba(0,0,0,0.19);
}

#foto1{
  width: 200px;
  height: 150px;
  float:right;
  margin-right: 50px;
  box-shadow: -8px 10px 5px rgba(0,0,0,0.19);
}
#foto2{
  width: 200px;
  height: 150px;
  float:right;
  margin-right: 40px;
  margin-top: 60px;
  box-shadow: -8px 10px 5px rgba(0,0,0,0.19);
}

#foto3{
  width: 200px;
  height: 150px;
  float:right;
  margin-right: 50px;
  margin-top: -10px;
  box-shadow: -8px 10px 5px rgba(0,0,0,0.19);
}
