<DOCTYPE html>
<html lang="es">
  <head>
    <title>Plexcol</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1,
    maximun-scale=1, minimun-scale=1">
    <link rel="stylesheet" href= "/index.css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquey/2.1.0/jquey.min.js"></script>
  </head>
  <body>
    <nav class="navbar navbar-static-top">
        <h1 style="margin-bottom:5px; cursor:pointer;">PLEXCOL</h1>
        <form action="/login" method="get">
          <button type="submit" id="boton" class="button1">INICIAR SESION</button>
        </form>
    </nav>

    <div class="header">
      <ul class="navmenu">
        <li><a href="">Principal</a>
          <ul>
            <li><a href="">Submenu 1</a></li>
            <li><a href="">Submenu 2</a></li>
            <li><a href="">Submenu 3</a></li>
            <li><a href="">Submenu 4</a></li>
          </ul>
        </li>
        <li><a href="">Servicios</a>
            <ul>
              <li><a href="">Submenu 1</a></li>
              <li><a href="">Submenu 2</a></li>
              <li><a href="">Submenu 3</a></li>
              <li><a href="">Submenu 4</a>
                <ul>
                  <li><a href="">Submenu 1</a></li>
                  <li><a href="">Submenu 2</a></li>
                  <li><a href="">Submenu 3</a></li>
                  <li><a href="">Submenu 4</a></li>
                </ul>
              </li>
            </ul>
        </li>
        <li><a href="">Acerca de</a></li>
        <li><a href="">Contacto</a></li>
      </ul>

      <!--cual robado a la u, cual?-->
      <p style="margin:0px; float:right; margin-right:90px; height:50px;">
        <a href="https://www.facebook.com/Hugguini" target="_blank"><img src="img/Facebook.png" alt="" style="width: 50px; height: 50px;"></a>
        &nbsp;
        <a href="https://twitter.com/ihugolucas" target="_blank"><img src="img/Twitter.png" alt="" style="width: 50px; height: 50px;"></a>
        &nbsp;
        <a href="https://www.instagram.com/ihugolucas/" target="_blank"><img src="img/Instagram.png" alt="" style="width: 50px; height:50px;"></a>
      </p>
    </div>

    <section style="clear:both; padding-top:0px; margin-top:0px;">
    <div class="slider" style="padding-top:0px;">
      <ul style="margin-top:0px;">
        <li><img src="img/imagen0.jpg" alt=""></li>
        <li><img src="img/imagen1.jpg" alt=""></li>
        <li><img src="img/imagen2.jpg" alt=""></li>
        <li><img src="img/imagen3.jpg" alt=""></li>
        <li><img src="img/imagen4.jpg" alt=""></li>
      </ul>
      </div>
    </section>
    <section class="seccion_boxes">
      <div class="box">
        <div class="minibox">
          <div class="" style="margin-bottom:10px;">
              <a href="" target="_blank"><img src="img/Birrete.jpg" alt="" style="width: 130px; height: 95px;"></a>
          </div>
          <div class="superhiperminibox">
            Postgrados
          </div>
          <div class="superminibox">
            <p>Conoce las cosas que hacen en los Postgrados
            como en las maestrias o doctorados :D sera divertido
            wiiii!!</p>
          </div>
        </div>
        <div class="minibox">
          <div clas="" style="margin-bottom:20px;">
              <a href="" target="_blank"><img src="img/Lentes.png" alt="" style="width: 170px; height: 90px;"></a>
          </div>
          <div class="superhiperminibox">
            Egresados
          </div>
          <div class="superminibox">
            <p>Descubre a que se dedican nuestros egresados profesionales,
            cuales son sus ocupacions y como ejercen su carrera :D</p>
          </div>
        </div>
        <div class="minibox">
          <div class="" style="margin-bottom:10px;">
              <a href="" target="_blank"><img src="img/Lapiz.png" alt="" style="width: 100px; height: 100px;"></a>
          </div>
          <div class="superhiperminibox">
            Talleres
          </div>
          <div class="superminibox">
            <p>No solo de estudio vive el hombre, tambien de comida... ahh! y
            de actividades ajenas al estudio, como talleres de pintura, musica,
            etc.</p>
          </div>
        </div>
        <div class="minibox">
          <div class="" style="margin-bottom:10px;">
              <a href="" target="_blank"><img src="img/Deportes.png" alt="" style="width: 100px; height: 100px;"></a>
          </div>
          <div class="superhiperminibox">
            Deportes
          </div>
          <div class="superminibox">
            <p>El deporte es algo vital, nuestro enfoque integral nos birnda
            la posibilidad de poder educar al alumno en este ambito tambien.</p>
          </div>
        </div>
      </div>
    </section>
    <section id="seccionh1">
      <div id="divbgred">
        <div id="divh1">
            <h1 id="h1sec">Nosotros</h1>
        </div>
        <div id="bgtabla1">

        </div>
      </div>
      <div id="divbggray">
        <div id="bgtabla2">
          <tr>
            <td>
              <img src="img/Programando.jpg" alt="Programación" title="Programación" width="370" height="230">
            </td>
            <td>
              <img src="img/Programando2.jpg" alt="Programación" title="Programación" width="370" height="230">
            </td>
          </tr>
          <tr>
            <td>
              <img src="img/Estudiando.jpg" alt="Estudios" title="Estudios" width="370" height="230">
            </td>
            <td>
              <img src="img/Estudiando2.jpg" alt="Estudios" title="Estudios" width="370" height="230">
            </td>
          </tr>
        </div>
      </div>
    </section>
    <section id="seccionparallax" data-type="parallax_section" data-speed="10">
        <article>
            <h2>Seccion Parallax</h2>
        </article>
    </section>
    <section id="seccionultima">
      <div id="divulgray">
        <div id="divh1ul">
            <h1 id="h1secul">Calendario</h1>
        </div>
        <div id="bgtabla1">

        </div>
      </div>
      <div id="divulred">
        <div id="bgtabla2">
          <table id="tablacalendario">
            <tbody>
              <% if (data) { %>
                <% for(var i = 0; i < data.length; i++) { %>
                  <tr>
                    <td>
                      <div id="divtabla">
                        <div style="color: black; font: bold 20px; font-size: 35px; text-align:center;">
                          <%= data[i].dia %>
                        </div>
                        <div style="float:left; margin-left:3px; color: black; font: bold 20px; font-size: 20px; text-align:left; width:35px;">
                          <% var nombremes; %>
                          <% if (data[i].mes=="January") { %>
                            <% nombremes="Jan." %>
                          <% } %>
                          <% if (data[i].mes=="February") { %>
                            <% nombremes="Feb." %>
                          <% } %>
                          <% if (data[i].mes=="March") { %>
                            <% nombremes="Mar." %>
                          <% } %>
                          <% if (data[i].mes=="April") { %>
                            <% nombremes="Apr." %>
                          <% } %>
                          <% if (data[i].mes=="May") { %>
                            <% nombremes="May." %>
                          <% } %>
                          <% if (data[i].mes=="July") { %>
                            <% nombremes="Jul." %>
                          <% } %>
                          <% if (data[i].mes=="August") { %>
                            <% nombremes="Aug." %>
                          <% } %>
                          <% if (data[i].mes=="September") { %>
                            <% nombremes="Sept." %>
                          <% } %>
                          <% if (data[i].mes=="October") { %>
                            <% nombremes="Oct." %>
                          <% } %>
                          <% if (data[i].mes=="November") { %>
                            <% nombremes="Nov." %>
                          <% } %>
                          <% if (data[i].mes=="December") { %>
                            <% nombremes="Dec." %>
                          <% } %>
                          <%= nombremes  %>
                        </div>
                        <div style="float:right; margin-right:7px; color: black; font: bold 20px; font-size: 20px; text-align:right; width:35px;">
                          <%= data[i].año %>
                        </div>
                        <div style="color: black; font: bold 20px; font-size: 15px; width:80px; text-align:center;">
                          <%= data[i].hora %>
                        </div>
                      </div>
                    </td>
                    <td style="font: small-caps 100%/200% serif; font-size:25px;">
                      <%= data[i].descripcion %>
                    </td>
                  </tr>
                <% } %>
              <% } %>
            </tbody>
          </table>
          <div id="foto1">
            <img src="img/futbol.jpg" alt="Futbol" title="Futbol" width="200" height="150">
          </div>
          <div id="foto2">
            <img src="img/ajedrez.jpg" alt="Ajedrez" title="Ajedrez" width="200" height="150">
          </div>
          <div id="foto3">
            <img src="img/navidad.jpg" alt="Navidad" title="Navidad" width="200" height="150">
          </div>
        </div>
      </div>
    </section>
  </body>
  <footer style="max-height:170px;">
    <div id="contenedorfooter">
      <div id="divfootertitulo">
        <h1 style="margin-bottom:5px; cursor:pointer;">PLEXCOL</h1>
      </div>
      <div id="divfootertexto">
        <h4>Servicios PLEXCOL</h4>
        <h4>PBX: 77665544</h4>
        <h4>2da calle 19-22, zona 3</h4>
      </div>
    </div>
    <div id="ultimofooter">
      <h5 style="margin: 0px;">
        Todos los derechos reservados
      </h5>
    </div>
  </footer>
</html>
</DOCTYPE>
