<% include partials/_header %>

<script type="text/javascript">
   function capturar()
      user=document.getElementById("user").value;
      password=document.getElementById("password").value;
      alert(user);
       document.getElementById("resultado").innerHTML=" \
           usuario: "+user+" \
           <br>password: "+password;
   }
   function validar(){
     if(document.getElementById("user").value.trim()!=""&&document.getElementById("password").value.trim()!=""){
       document.post("/logged");
     }else{
       alert("Ingrese un nombre de usuario y contraseña");
     }
   }
</script>

<div class="container mt-5">
  <div class="row">
    <div class="col-md-5" style="margin-left: auto; margin-right: auto;">
      <div class="card-body" style="text-align: center">

        <form action="/logged" method="POST">
          <div class="form-group">
            <input type="text" name="user" id="user" placeholder="User" class="form-control" autofocus>
          </div>
          <div class="form-group">
            <input type="password" name="password" id="password" placeholder="Password" class="form-control">
          </div>

          <button type="submit" class="btn btn-primary" style="margin-top: 10px" onclick="javascript:validar()">
            Iniciar sesion
          </button>

          <% if(typeof fallido !== 'undefined'){ %>
            <label id="fallido" style="color: red;" type="label">Usuario o contraseña incorrecta</label>
          <%}%>
          <input type="hidden" name="login" value="login">
        </form>

        <div id="resultado"></div>
      </div>
    </div>
  </div>
</div>

<% include partials/_footer %>
