<DOCTYPE html>
  <html lang="es">
    <% include header %>
    <body>
      <h2 style="text-align: left">Listado de Cursos para "<%- user[0].nombre %>"</h2>
      <div id="cursos">
        <table style="margin: 0 auto;">
          <tbody>
            <tr>
              <th>Curso</th>
              <th>Jornada</th>
              <th>Seccion</th>
              <th>Catedratico</th>
              <th>Acceso</th>
            </tr>
            <% if (curso) { %>
              <% for(var i = 0; i < curso.length; i++) { %>

                  <tr>
                    <td><%= curso[i].nombre %></td>
                    <td><%= curso[i].jornada %></td>
                    <td><%= curso[i].seccion %></td>
                    <td><%= curso[i].catedratico %></td>
                    <td>
                      <form action="/cursoEstudiante" method="post">
                        <button type="submit" id="boton" name="<%= curso[i].idCurso %>" class="boton1">Ingresar</button>
                        <input type="hidden" name="id" value="<%= curso[i].idCurso %>">
                      </form>
                    </td>
                  </tr>
              <% } %>
            <% } %>
          </tbody>
        </table>
      </div>
      <div id="espacio">
          <table id="tablacalendario">
            <tbody>
              <% if (calendario) { %>
                <% for(var i = 0; i < calendario.length; i++) { %>
                  <tr>
                    <td>
                      <div id="divtabla">
                        <div style="color: black; font: bold 20px; font-size: 35px; text-align:center;">
                          <%= calendario[i].dia %>
                        </div>
                        <div style="float:left; margin-left:3px; color: black; font: bold 20px; font-size: 20px; text-align:left; width:35px;">
                          <% var nombremes; %>
                          <% if (calendario[i].mes=="January") { %>
                            <% nombremes="Jan." %>
                          <% } %>
                          <% if (calendario[i].mes=="February") { %>
                            <% nombremes="Feb." %>
                          <% } %>
                          <% if (calendario[i].mes=="March") { %>
                            <% nombremes="Mar." %>
                          <% } %>
                          <% if (calendario[i].mes=="April") { %>
                            <% nombremes="Apr." %>
                          <% } %>
                          <% if (calendario[i].mes=="May") { %>
                            <% nombremes="May." %>
                          <% } %>
                          <% if (calendario[i].mes=="July") { %>
                            <% nombremes="Jul." %>
                          <% } %>
                          <% if (calendario[i].mes=="August") { %>
                            <% nombremes="Aug." %>
                          <% } %>
                          <% if (calendario[i].mes=="September") { %>
                            <% nombremes="Sept." %>
                          <% } %>
                          <% if (calendario[i].mes=="October") { %>
                            <% nombremes="Oct." %>
                          <% } %>
                          <% if (calendario[i].mes=="November") { %>
                            <% nombremes="Nov." %>
                          <% } %>
                          <% if (calendario[i].mes=="December") { %>
                            <% nombremes="Dec." %>
                          <% } %>
                          <%= nombremes  %>
                        </div>
                        <div style="float:right; margin-right:7px; color: black; font: bold 20px; font-size: 20px; text-align:right; width:35px;">
                          <%= calendario[i].año %>
                        </div>
                        <div style="color: black; font: bold 20px; font-size: 15px; width:80px; text-align:center;">
                          <%= calendario[i].hora %>
                        </div>
                      </div>
                    </td>
                    <td style="font: small-caps 100%/200% serif; font-size:25px;">
                      <%= calendario[i].descripcion %>
                    </td>
                  </tr>
                <% } %>
              <% } %>
            </tbody>
          </table>
      </div>
    </body>
  <% include footer %>
  </html>
</DOCTYPE>
