.boton1{
  margin-top: 5px;
  margin-left: 20%;
  background-color: white;
   border: none;
   color: red;
   border: 2px solid red;
   padding: 5px 20px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   font-size: 15px;
   -webkit-transition-duration: 0.4s;
   transition-duration: 0.4s;
   box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
   cursor: pointer;
}

.boton1:hover {
    background-color: darkred; /* Green */
    border: 2px solid darkred;
    color: white;
}

#contenedor{
  height: 100px;
  width: 500px;
  float: right;
  margin: 0px;
  padding: 0px;
  padding-right: 15px;
}

#auxiliar{
  width: 200px;
  height: 60px;
  margin-right: 0px;
  float: left;
}

#contenedortitulo{
  width: 300px;
  height: 58px;
  margin: 0px;
  float: right;

}

#contenedorboton{
  width: 100px;
  height: 20px;
  float: right;
  margin-right: 20%;
}

#imagennavbar{
  width: 100px;
  height: 100px;
  float: left;
}

#infouser{
  width: 400px;
  height: 100px;
  float: left;
  font-size: 20px;
  color: white;
}

h1{
  float: right;
  font-size: 45px;
  font-style: italic;
  color: white;
  margin: 0px;
  padding: 0px;
  width: 300px;
  margin-top: opx;
}

body{
  background-color: white;
  margin: 0px;
  padding: 0px;
}

.navbar{
  margin-top: 0px;
  margin-left: 0px;
  padding-left:10px;
  color: white !important;
  height: 100px;
  background-color: #B82C41;

}

#cursos table{
  font-size:16px;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  border-spacing: 0;
  width: 80%;
}

#cursos th,#cursos td {
  border: 1px solid #ddd;
  text-align: left;
  padding: 8px;
}

#cursos th{
  padding-top: 11px;
  padding-bottom: 11px;
  background-color: #B82C41;
  color: white;
}
#cursos tr:nth-child(even){
  background-color: #f2f2f2;
}

#espacio{
  height: 73%;
}


#tablacalendario{
  background-color: #DBD6D6;
  margin-left: 50px;
  float:none;
  padding: 5px 5px 10px 20px;
  margin-top: 20px;
}

#divtabla{
  width: 80px;
  height: 80px;
  background-color: #F6AB1F;
  margin-top: 5px;
  box-shadow: -8px 5px 5px rgba(0,0,0,0.19);
}

#footerprincipal{
  border-top: 1px dashed white;
  width: 100%;
  height: 130px;
  background-color: #B82C41;
  margin: 0px;
  padding: 0px;
}

#divfootertitulo{
  margin-top: 35px;
  width: 300px;
  height: 100px;
  color:white;
  float:right;
}

#divfootertexto{
  COLOR: white;
  margin-left: 90px;
}

#ultimofooter{
  width: 100%;
  height: 20px;
  margin: 0px;
  padding: 0px;
  color: white;
  background-color: #AB182E;
  text-align: center;
}
