<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>PLEXCOL</title>
    <!-- NAVIGATION -->
    <!--<link rel="stylesheet" href="https://bootswatch.com/4/journal/bootstrap.min.css"> -->
    <link rel="stylesheet" href="../login.css">
  </head>
  <body>

    <!-- navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand " href="/">PLEXCOL</a>
    </nav>
